@import "tailwindcss";
@theme {
    --color-pinkbg: #FFF1FE
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: rgb(80, 0, 0);
    touch-action: manipulation;
}

.cell {
  touch-action: manipulation;
}
.board {
  touch-action: manipulation;
}

/*testing*/
.colors2 {
  --c0: #ffacac;
  --c1: #b6f4ff;
  --c2: #c3ffd1;
  --c3: #f8ffb9;
  --c4: #d5beff;
  --c5: #ffcbeb;
  --c6: #ffd2a9;
  --c7: #92a6ff;
  --c8: #947955;
  --c9: #c9ff4c;
}
.colors2 {
  --c0: #24bec9;
  --c1: #b6f4ff;
  --c2: #22ff55;
  --c3: #ff0909;
  --c4: #6c1dff;
  --c5: #ffea2d;
  --c6: #005a1b;
  --c7: #f07dff;
  --c8: #613700;
  --c9: #3f3f3f;
}