---
import "../styles/global.css";
import { PUZZLES } from '../puzzles.js';
import LevelCard from '../components/levelcard.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Queens Variants</title>
    </head>




    <body class = 'bg-pinkbg min-h-screen flex flex-col items-center px-4 py-10'>
        <h1 class = 'text-5xl font-bold '>QUEENS VARIANTS</h1>
        <br>
        <br>
        <p class = 'text-xl'>
            some puzzles based on LinkedIn Queens I made for fun.
        </p>
        <br>
        <br>

        <div class="flex gap-4 justify-center items-center">
            <div>
                <h2 class = 'text-2xl'   style = text-align:center>Mirror Variant</h2>
                <p style = text-align:center>mirrored regions marked with stripes <br> need to match the mirrored region <br> vertically and horizontally reflected </p>
            </div>
            <LevelCard level={PUZZLES[0]} index={0} />
            <LevelCard level={PUZZLES[1]} index={1} />
            <LevelCard level={PUZZLES[2]} index={2} />
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <h2 class = 'text-2xl'> More to come maybe hopefully...</h2>
         <main class="flex-1"></main>
         <footer class="w-full text-center text-s py-6">
           <a href = https://andrew-zhang.ca target = blank class="text-red-500 hover:text-red-700 transition-colors duration-150 text-s">andrew zhang</a> 2026
            <br>
            <a href = https://github.com/applesarebad/queens class="text-red-500 hover:text-red-700 transition-colors duration-150 text-s" >open source</a>
        </footer>
    </body>
</html>

<style is:global>
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
